@model IEnumerable<RusoCars.Models.Link>
@{
    ViewBag.Title = "Index";
}
<h2>
    Links</h2>
<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="tabla_datos">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinksCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image.ImageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkUrl)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinksCategory.Name)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image.ImagePath)" alt="@Html.DisplayFor(modelItem => item.Image.ImageTitle)" height="75" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkUrl)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.LinkId }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.LinkId }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.LinkId })
            </td>
        </tr>
    }
</table>
