@model RusoCars.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<fieldset>
    <legend>Team</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image.ImagePath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image.ImagePath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.TeamId }) |
    @Html.ActionLink("Volver", "Index")
</p>
