@model IEnumerable<RusoCars.Models.LinksCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Categorias Links</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="tabla_datos">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LinksCategoryId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.LinksCategoryId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.LinksCategoryId })
        </td>
    </tr>
}

</table>
